body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  background-image: url(../src/accessories/background/dragon_balls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
